@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,200;1,14..32,200&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    background-color: #24252a73;
    box-shadow: 0px 3px 10px #46464646;
    margin: 1rem;
    border-radius: 10px;
}

.nav-main {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 3rem;
    margin: 0;
    border-radius: 10px;
}

.cnt1 {
    display: block;
    box-shadow: 0px 3px 10px #464646;
    height: auto;
    width: 25rem;
    margin: 1rem;
    border-radius: 10px;
    padding: 0.5rem;
    transition: transform 400ms cubic-bezier(.79,.28,.92,.59);
}

a {
    text-decoration: none;
    color: black;
}

.searchmain {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
}

#inptsrch {
    border: 1px rgba(0, 0, 0, 0);
    border-radius: 6px;
}

#inptsrch::placeholder {
    font-style: italic;
    text-decoration: underline black solid;
}

.search {
    height: 40px;
    width: 210px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    background-color: rgb(138, 138, 138);
    transition: transform 200ms cubic-bezier(.79,.28,.92,.59);
    backdrop-filter: blur(15px);
    box-shadow: 0px 3px 10px #464646;
    border: 2px solid transparent;
}

.search:hover {
    transform: scale(1.2);
    border: 1px solid black;
}

.search-icon {
    width: 20px;
}

.cnt1:hover {
    transform: scale(1.1) translateY(30px);
    box-shadow: 0px 3px 10px #1d1d1d;
    backdrop-filter: contrast(80%);
}

.sec1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.cnimg1 a img {
    border-radius: 10px;
    height: auto;
    width: 100%;
}

@media (max-width: 486px) {
    .nav-main {
        padding: 1rem;
    }
    article {
        justify-content: center;
        align-items: center;
        display: flex;
    }
    body {
        overflow-x: hidden;
    }
    .cnt1 {
        display: block;
        box-shadow: 0px 3px 10px #464646;
        height: auto;
        width: 20rem;
        margin: 1rem;
        border-radius: 10px;
        padding: 0.5rem;
        transition: transform 400ms cubic-bezier(.79,.28,.92,.59);
    }
}

@media (max-width: 945px) {
    .nav-main {
        padding: 1rem;
    }
    article {
        display: flex;
    }
    body {
        overflow-x: hidden;
    }
}

.icons {
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.i1, .i2, .i3, .i4, .i5 {
    background-color:rgb(112, 112, 112); 
    backdrop-filter: blur(5px); 
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: #434343 solid 1px;
    border-radius: 5px;
    transition: transform 400ms cubic-bezier(.79,.28,.92,.59);
}

.i1:hover, .i2:hover, .i3:hover, .i4:hover, .i5:hover {
    transform: scale(1.1);
    backdrop-filter: contrast(10%);
}

.i1 img, .i2 img, .i3 img, .i4 img, .i5 img {
    max-width: 100%;
    max-height: 100%;
    padding-top: 3px;
}